.container{
  background-image: url("../images/backgroundimage.jpg"); 
  height: 900px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;

  
  
  /* z-index: -1; */
}

