.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.full-width{
  background-color: black;
  width:100vw; 
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

 
/* .container{
  background-image: url("./images/backgroundimage.jpg"); 
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1; */
/* }  */


/* background {
  height: 100%;
  background-image: url(backgroundimage.jpg);
  background-position: center center;
  background-size: cover; 
} */


/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
