/* navBar {
  background-color: #181615;
  width:100%;
  display: flex;
  justify-content: space-evenly;
  height: 150px;
  transition: all 0.8s ease-in-out;
} */

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.navbar-nav {
  justify-content: space-between; 
}


.navBarTitle{
  font-family: 'Montserrat', sans-serif;;
  font-size: 60px;
  color: #f9f8f7;
}

.navbar-nav {
  flex: auto;
  justify-content: space-evenly;
}

.nav-link{
  color: #f7f4f0!important;
  transition: all 0.6s ease-in-out!important;
}

.nav-link:hover{
  color: #ef8057 !important;
}


#navBar img{
  height:20px;
  width:20px;
}


/* .navBar-style {
  /* background-size: contain; */
  /* height: 300px; */
  
/* } */ 